.bg-color{
  background: #E1EAF9;
}

ion-content{
  --ion-background-color: transparent;
  background: #E1EAF9;
}
.wrapform{
  margin-top: 30px;
}

ion-item{
  color: #74787E;
  --border-color: #D4D7DB;
  --highlight-color-focused: #647B9D;
  --padding-start:0;
  --inner-padding-end:0;
  font-size: 18px;
  ion-icon{
    padding-right: 6px;
    font-size: 18px;
  }
  ion-input{
    color: #647B9D;
  }
  ion-item:active{
    color: red !important;
    ion-icon{
      color: red !important;
    }
  }
  ion-input:hover{
    color: #1248A0;
  }
}

