<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-button color="primary" routerLink="/home">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-button slot="start">
    <ion-back-button defaultHref="login" text=""></ion-back-button>
  </ion-button>
</ion-header>

<ion-content class="bg-color">
  <h1>Changer le mot de passe</h1>
  <form #pass="ngForm" (ngSubmit)="updatePass(pass)">
    <div class="wrapform">
      <ion-item>
        <ion-icon name="lock-closed"></ion-icon>
        <ion-input type="password" name="old_password"  ngModel required placeholder="Ancien mot de passe" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="lock-closed"></ion-icon>
        <ion-input type="password" name="new_password"  ngModel required placeholder="Nouveau mot de passe" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="lock-closed"></ion-icon>
        <ion-input type="password" name="conf_new_password"  ngModel required placeholder="Confirmez nouveau mot de passe" ></ion-input>
      </ion-item>
      <div class="signin-btn-wrap">
        <ion-button type="submit" shape="round" fill="solid" class="signin-btn">Envoyer</ion-button>
      </div>
    </div>
  </form>
</ion-content>
