<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-button color="primary" routerLink="/home">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-button slot="start">
    <ion-back-button defaultHref="login" text=""></ion-back-button>
  </ion-button>
</ion-header>

<ion-content class="bg-color">
  <h1>Renisialiser le mot de passe</h1>
      <form #form="ngForm"  (ngSubmit)="login(form)">
        <div class="wrapform">
          <ion-item>
            <ion-icon name="mail-outline"></ion-icon>
            <ion-input type="text" name="email"  ngModel required placeholder="Email" ></ion-input>
          </ion-item>
          <div class="signin-btn-wrap">
            <ion-button type="submit" shape="round" fill="solid" class="signin-btn">Envoyer</ion-button>
          </div>
        </div>
      </form>
</ion-content>
